# # Paytm Inference API (LLM + Vision)
# PAYTM_INFERENCE_URL=https://your-paytm-endpoint/v1
# PAYTM_INFERENCE_KEY=your_paytm_key

# # Sarvam API (Speech-to-Text + Text-to-Speech)
# SARVAM_API_URL=https://api.sarvam.ai
# SARVAM_API_KEY=your_sarvam_key

# # MongoDB Atlas — include /hisaab at the end (that's the database name)
# MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/hisaab

# # App name shown in UI
# NEXT_PUBLIC_APP_NAME=Hisaab

#Paytm Inference API (LLM + Vision)
PAYTM_INFERENCE_URL=https://your-paytm-endpoint/v1
PAYTM_INFERENCE_KEY=pi-user-J6a72kfrU71vsKmkOCPnhh8C5I7Qcc4Yfpvt6ZZpIFM

#Sarvam API (Speech-to-Text + Text-to-Speech)
SARVAM_API_URL=https://api.sarvam.ai/
SARVAM_API_KEY=sk_76uggnni_QcKsFmHUUcwxdtHna3BMTlGj

#MongoDB Atlas — include /hisaab at the end (that's the database name)
MONGODB_URI=mongodb+srv://krishnakukreja85_db_user:u9Thwa3r3I1KiY9Z@cluster0.oig1dd6.mongodb.net/?appName=Cluster0

#App name shown in UI
NEXT_PUBLIC_APP_NAME=Hisaab